
:root {
	--color-neutral-light:#f3f3f3 ;
	--color-neutral-medium: #bdc4c6;
	--color-neutral-dark: #333638 ;

	--color-main-light: #fff4f3;
   --color-main-medium: #efbbb6;
   --color-main-dark: #f295a0;

   --color-secondary-light: #eef6f6;
   --color-secondary-medium: #85dcdd;
   --color-secondary-dark: #45567a;

   --color-white: #F9F9F9;
   --color-black: #2b3547;

   --color-pure-white: #fff;
   --color-pure-black: #000;

   --header-height:4rem;

   --font-sans:'Hind Madurai', Tahoma, sans-serif;
   --font-serif: 'Josefin Slab', "Times New Roman", serif;


   --space-xs: 1rem;
   --space-sm: 3rem;
   --space-md: 8rem;
   --space-lg:15rem;

}

/* CSS RESETS */
* {
   box-sizing: border-box;
}



/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
}
body{
   font-family: var(--font-sans);
}
h1{
   font-weight: 500;
}

/*TEXT*/
.text-center{
   text-align: center;
   width: 100%;
}
.text-highlight{
   color: var(--color-main-dark);
}

/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }




   /* RESPONSIVE FLEX LEAYOUT */
      /* PARENT */

      .flex-col-center-center{ display: flex; flex-direction: column; justify-content: center; align-items: center;  }
      .flex-col-center-start { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
      .flex-col-start-start { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;}
      .flex-col-center-end {display: flex; flex-direction: column; justify-content: center; align-items: flex-end;}

      .flex-row-center-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;  }
      .flex-row-center-start{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start;  }
      .flex-row-center-end{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-end;  }
      .flex-row-between-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;  }
      .flex-row-between-start{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;  }
      .flex-row-around-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around  ; align-items: center;  }
      .flex-row-stretch-stretch{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around  ; align-items: stretch; align-content: stretch; }
      .flex-row-start-between{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: space-between ; }
      .flex-row-start-center{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: center ; }
      .flex-row-start-start{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: flex-start; }
      .flex-row-start-start-nowrap{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: flex-start; }


      /* no wrap */
      .flex-row-nowrap-start-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: center ; }
      .flex-row-nowrap-between-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between  ; align-items: center ; }
      .flex-row-nowrap-around-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around  ; align-items: center ; }

       /* CHILDREN */
       
      .flex-grow1_0{ flex-grow: 1.0;}
      /*.flex-grow1_2{ flex-grow: 1.2;}*//*DELETE IF NOT IN USE*/
      /*.flex-grow1_5{ flex-grow: 1.5;}*//*DELETE IF NOT IN USE*/
      .flex-grow2_0{ flex-grow: 2.0;}
      .flex-grow3_0{ flex-grow: 3.0;}
      /*.flex-grow4_0{ flex-grow: 4.0;}*//*DELETE IF NOT IN USE*/


   // scroll
   .overscroll{overflow: auto;}


   .overscroll-x { overflow-x:auto; }
   .overscroll-y { overflow-y:auto; }



/* VERTICAL SPACINGS */ /*DELETE IF NOT UESED*/


.top-padding-xs{ padding-top: var(--space-xs) }
.top-padding-sm{ padding-top: var(--space-sm) }
.top-padding-md{ padding-top: var(--space-md) }
.top-padding-lg{ padding-top: var(--space-lg) }

.bottom-padding-xs{ padding-bottom: var(--space-xs) }
.bottom-padding-sm{ padding-bottom: var(--space-sm) }
.bottom-padding-md{ padding-bottom: var(--space-md) }
.bottom-padding-lg{ padding-bottom: var(--space-lg) }

.top-margin-xs{ margin-top: var(--space-xs) }
.top-margin-sm{ margin-top: var(--space-sm) }
.top-margin-md{ margin-top: var(--space-md) }
.top-margin-lg{ margin-top: var(--space-lg) }

.bottom-margin-xs{ margin-bottom: var(--space-xs) }
.bottom-margin-sm{ margin-bottom: var(--space-sm) }
.bottom-margin-md{ margin-bottom: var(--space-md) }
.bottom-margin-lg{ margin-bottom: var(--space-lg) }

.spacer-line{
   margin: 1em 3em;
}

.container{
   margin:0 1em ;
}

/* IMAGES */

.image-cover{
   object-fit: cover;
   background-repeat: no-repeat;
}

.image-contain{
   object-fit: contain;
   background-repeat: no-repeat;
}
/* http://placehold.jp/500x500.png */


/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
}
[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
   position: relative;
   overflow: hidden;
}

.bottom-nav{
   flex: none;
   height: var(--header-height);
   /*line-height: var(--header-height);*/
   border-width: 0;
   position: relative;
   /*overflow: hidden;*/
   /*pointer-events: none;*/
}
.bottom-nav-link{
   width: 50%;
   height: var(--header-height);
   /*box-shadow: 0 0 2px rgba(0,0,0,0.2);*/

}
.bottom-nav-name{
   height: auto;
   margin-block-start:0em;
   margin-block-end:0em;
   font-size: 0.6em;
   color: var(--color-black);
}
.bottom-nav-name.active{
   color: var(--color-main-dark);
}
.map-link{
   border-radius: 1em 0 0 0;
   background-color: var(--color-pure-white);
}
.list-link{
   border-radius: 0 1em 0 0;
   background-color: var(--color-pure-white);
}

.spacer-svg{
   fill: var(--color-pure-white);
   pointer-events: none;
   width: 81px;
   top: 0px;
   overflow: hidden;
   z-index: 1; 
}


/*
[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}*/
[data-role="header"] a {
   padding: 0 1em;
}

/*.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}*/





/* FORM ELEMENTS */
.form {}
.form-control {
   margin: 1em 0;
}
.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}
.form .form-button,
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-light);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.form-label {}
.form-input-lined {
   display:inline-block;
   width:100%;
   padding:0.5em 1em;
   font:inherit;
   font-size: 1em;
   outline:0;
   background-color:transparent;
   border-radius:0;
   border-width:0;
   border-bottom:1px solid var(--color-neutral-medium);
   -webkit-appearance:none;
}
.form-input-lined:focus {
   border-bottom:2px solid var(--color-main-medium);

}

.ui-input-text input, .ui-input-search input .search-bar{
   box-sizing: border-box;
   border-radius: 2em;
   background-color: var(--color-pure-white);
   background-image: url(../images/icons/search.svg);
   background-position: 10px center;
   background-repeat: no-repeat;
   background-size: 1.5em 1.5em;
   padding: 0em 0em 0em 2.5em;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   height: 2em;
   font-size: 1em;
   min-height: 0em;
}

.search-bar::placeholder{
   color: var(--color-neutral-medium);
}
.ui-input-text, .ui-input-search{
   margin: 0em 0em 0 1em;
   border-width: 0px;
   border-style: none
}
.search-container{
 width:80%;
}


/*SOURSE https://stackoverflow.com/questions/21784152/how-to-combine-inputafterfocus-pure-css/57626778*/
.form-input-lined:focus + span::before{
   position: relative;
   top: -60px;
   font-weight: 600;
   font-size: .8em;
   color:var(--color-main-medium);
}
.form-input-lined:focus + .label-username::before{content:"Username";}
.form-input-lined:focus + .label-password::before{content:"Password";}
.form-input-lined:focus + .label-email::before{content:"E-mail";}

/*ICONS*/

.icon{
   fill: var(--color-black);
}

.icon.active{
   fill: var(--color-main-dark);
}
.icon-xs{
   height:1em;
   width:1em;
}
.icon-sm{
   height:1.5em;
   width:1.5em;
}
.icon-md{
   height:2em;
   width:2em;
}
.icon-lg{
   height:3em;
   width:3em;
}
.back-icon-container{
   height: 100%;
   background-color: green;
}


/*BUTTONS*/

.form-control .primary-btn,
.primary-btn{
   width: 100%;
   height: 2.5em;
   display: inline-block;
   border-width: 0;
   background-color: var(--color-main-dark);
   color: var(--color-pure-white);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 1.5em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
}
.btn-circle{
   display: inline-block;
   background-color: var(--color-white);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   font-size: 1.5rem;
   border-radius: 2em;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.5);   
}
.next-btn{
   width: 30%;
}
.full-btn{
   width: 100%;
}




/*FLOATER*/
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:5em; }



/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
   z-index: 12;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}


/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}

/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    padding: 10px;
    background-color: var(--color-white);
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 1em;
}
.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}



/* Modal Drawer */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}










/*UPWRAP NAV*/

.upward-nav{
   height: 3rem;
}
.zindex10{
   z-index: 10;
}









/*LOGIN*/
.login-container{
   background-color: var(--color-pure-white);
   border-radius: 0em 4em 0em 0em;
   box-shadow: 0px 5px 18px 0px rgb(180 172 172 / 70%);
}

.slogan{
   margin-block-start: 0em;
   margin-block-end: 0em;
   text-decoration: ;
   font-weight: 300;
   color: var(--color-neutral-medium);
}

#page-signin{
   background-color: var(--color-white);
}

.intro-logo{
   width: 6em;
   margin: auto;
}

.login-title{
   width: 100%;
   text-align: center;
   color: var(--color-main-medium);
   margin-block-start: 1em;
   margin-block-end: 0em;
}

.signup-link{
   color: var(--color-neutral-medium);
}

/*MAP PAGE*/
.profile-icon{
   border-radius: 50%;
   background-color: var(--color-pure-white);
   object-fit: contain;
   width: 2em;
   height: 2em;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   margin: 1em;
   position: relative;
   right: 0em;
}
.map{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("../images/map_placeholder2.png");
   background-size: cover;
   background-position: center;
}
#page-map{

}

.add-btn{
   width: 50px;
   height: 50px;
   background-color: var(--color-main-dark);
   border-radius: 50%;
   object-fit: contain;
   margin: 1em;
   position: absolute;
   bottom: 1.5rem;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   z-index: 11;
   /*box-shadow: 0px 0px 9px 4px  rgba(255,195,201,0.6);*/

}

#iconadd{
   fill: var(--color-pure-white);
}

/*ADD LOCATION PAGE*/
.bottom-container{
   background-color: var(--color-pure-white);
   border-radius: 1em 1em 0em 0em ;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   padding: 1em;
   border-style: hidden;
   position: relative;
}


   /*SET LOCATION*/
   #set-location{
      background-color: var(--color-white);

   }



/*LIST PAGE*/
#page-list{
   background-color: var(--color-neutral-light);

}




/*PROFILE PAGE*/
.profile-image{
   border-radius: 50%;
   background-color: var(--color-neutral-light);
   object-fit: contain;
   width: 100px;
   height: 100px;
}
.profile-more-icon{
   /*position: absolute;*/
   /*right: 1em;*/
}
.profile-content-container{
   padding-top: 10px;
}
.user-numbers-container{
   margin: 1em;
}
.number-card{
   border-radius: 1em;
   /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
   padding: 0.5em;
   width: 33.33%;
   margin: 0.5em;
}
.data-number{
   text-align: center;
   font-weight: 600;
   font-size: 1.5em;
   margin-block-start: 0em;
   margin-block-end: 0em;
   color: var(--color-main-medium);
}
.data-title{
   font-weight: 300;
   font-size: 1em;
   margin-block-start: 0em;
   margin-block-end: 0em;
   color: var(--color-neutral-medium);
}