:root {
	--color-neutral-light:#f3f3f3 ;
	--color-neutral-medium: #bdc4c6;
	--color-neutral-dark: #868e94 ;

	--color-main-light: #fff4f3;
   --color-main-medium: #efbbb6;
   --color-main-dark: #f295a0;

   --color-secondary-light: #eef6f6;
   --color-secondary-medium: #85dcdd;
   --color-secondary-dark: #45567a;

   --color-white: #F9F9F9;
   --color-black: #2b3547;

   --color-warning-red:  #e8515f;

   --color-pure-white: #fff;
   --color-pure-black: #000;

   --header-height:4rem;

   --font-sans:'Hind Madurai', Tahoma, sans-serif;
   --font-serif: 'Josefin Slab', "Times New Roman", serif;


   --space-xs: 1rem;
   --space-sm: 3rem;
   --space-md: 8rem;
   --space-lg:15rem;

}

/* CSS RESETS */
* {
   box-sizing: border-box;
}



/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
}
p{
   color: var(--color-black);
}
body{
   font-family: var(--font-sans);
}
h1{
   font-weight: 500;
   color: var(--color-black);
}
h2, h3, h4{
   color: var(--color-black);
}
.body-text{
   color: var(--color-neutral-dark);
}

/*TEXT*/
.text-center{
   text-align: center;
   width: 100%;
}
.text-highlight{
   color: var(--color-main-dark);
}
.text-mid-highlight{
   color: var(--color-main-medium);
}
.text-gray{
   color: var(--color-neutral-dark);
}

.text-bold{
   font-weight: 600;
}
.text-light{
   font-weight: 300;
}
.text-underlined{
   text-decoration: underline;
}
/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }
.flex-horizontal { flex-direction:row; }





   /* RESPONSIVE FLEX LEAYOUT */
      /* PARENT */

      .flex-col-center-center{ display: flex; flex-direction: column; justify-content: center; align-items: center;  }
      .flex-col-center-start { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
      .flex-col-start-start { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;}
      .flex-col-center-end {display: flex; flex-direction: column; justify-content: center; align-items: flex-end;}

      .flex-row-center-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;  }
      .flex-row-center-start{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start;  }
      .flex-row-center-end{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-end;  }
      .flex-row-between-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;  }
      .flex-row-between-start{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;  }
      .flex-row-around-center{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around  ; align-items: center;  }
      .flex-row-stretch-stretch{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around  ; align-items: stretch; align-content: stretch; }
      .flex-row-start-between{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: space-between ; }
      .flex-row-start-center{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: center ; }
      .flex-row-start-start{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start  ; align-items: flex-start; }
      .flex-row-start-start-nowrap{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: flex-start; }


      /* no wrap */
      .flex-row-nowrap-start-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: center ; }
      .flex-row-nowrap-center-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center  ; align-items: center ; }
      .flex-row-nowrap-start-start{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: flex-start; }
      .flex-row-nowrap-end-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end  ; align-items: center ; }
      .flex-row-nowrap-end-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end  ; align-items: flex-end ; }
      .flex-row-nowrap-end-start{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end  ; align-items: flex-start ; }
      .flex-row-nowrap-between-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between  ; align-items: center ; }
      .flex-row-nowrap-between-start{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between  ; align-items: flex-start ; }
      .flex-row-nowrap-around-center{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around  ; align-items: center ; }
      .flex-row-nowrap-start-stretch{display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start  ; align-items: stretch ; }
      

       /* CHILDREN */
       
      .flex-grow1_0{ flex-grow: 1.0;}
      /*.flex-grow1_2{ flex-grow: 1.2;}*//*DELETE IF NOT IN USE*/
      /*.flex-grow1_5{ flex-grow: 1.5;}*//*DELETE IF NOT IN USE*/
      .flex-grow2_0{ flex-grow: 2.0;}
      .flex-grow3_0{ flex-grow: 3.0;}
      /*.flex-grow4_0{ flex-grow: 4.0;}*//*DELETE IF NOT IN USE*/


   // scroll
   .overscroll{overflow: auto;}


   .overscroll-x { overflow-x:auto; }
   .overscroll-y { overflow-y:auto; }


   .position-relative { position:relative; }
   .position-absolute { position:absolute; }

   .fill-parent {
      width: 100%;
      height: 100%;
   }




/* VERTICAL SPACINGS */ /*DELETE IF NOT UESED*/


.top-padding-xs{ padding-top: var(--space-xs) }
.top-padding-sm{ padding-top: var(--space-sm) }
.top-padding-md{ padding-top: var(--space-md) }
.top-padding-lg{ padding-top: var(--space-lg) }

.bottom-padding-xs{ padding-bottom: var(--space-xs) }
.bottom-padding-sm{ padding-bottom: var(--space-sm) }
.bottom-padding-md{ padding-bottom: var(--space-md) }
.bottom-padding-lg{ padding-bottom: var(--space-lg) }

.top-margin-xs{ margin-top: var(--space-xs) }
.top-margin-sm{ margin-top: var(--space-sm) }
.top-margin-md{ margin-top: var(--space-md) }
.top-margin-lg{ margin-top: var(--space-lg) }

.bottom-margin-xs{ margin-bottom: var(--space-xs) }
.bottom-margin-sm{ margin-bottom: var(--space-sm) }
.bottom-margin-md{ margin-bottom: var(--space-md) }
.bottom-margin-lg{ margin-bottom: var(--space-lg) }

.spacer-line{
   margin: 1em 3em;
}
.container{
   margin:0 1em ;
}

/* PLACEMENTS */
.place-bottom{
   position: absolute;
   bottom: 1em;
   margin: auto;
}

/* IMAGES */

.image-cover{
   object-fit: cover;
   background-repeat: no-repeat;
}

.image-contain{
   object-fit: contain;
   background-repeat: no-repeat;
}
/* http://placehold.jp/500x500.png */


/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   overflow: hidden;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
}

[data-role="header"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
   position: relative;
   overflow: hidden;
}

.bottom-nav{
   flex: none;
   height: var(--header-height);
   /*line-height: var(--header-height);*/
   border-width: 0;
   position: relative;
   /*overflow: hidden;*/
   /*pointer-events: none;*/
}

.bottom-nav.map-footer{
   position: fixed;
   bottom: 0px;
   width: 100%;
}
.bottom-nav-link{
   width: 50%;
   height: var(--header-height);
}

.bottom-nav-name{
   height: auto;
   margin-block-start:0em;
   margin-block-end:0em;
   font-size: 0.6em;
   color: var(--color-black);
}

.bottom-nav-name.active{
   color: var(--color-main-dark);
}

.map-link{
   border-radius: 1em 0 0 0;
   background-color: var(--color-pure-white);
   box-shadow: 0px 0 2px rgba(0,0,0,0.2);
}

.list-link{
   border-radius: 0 1em 0 0;
   background-color: var(--color-pure-white);
   box-shadow: 2px 0 2px rgba(0,0,0,0.2);
}


.menu-height{
   height: var(--header-height);
}

.spacer-container{
   position: relative;
   pointer-events: none;
   top: 0px;
   overflow: hidden;
   height: var(--header-height);
   object-fit: cover;
   width: 81px;
}

.spacer-image{
  top:0;
  right:0;  
}

.spacer-even-width{
   width: 80px;
   min-width: 68px;
}

.spacer-odd-width{
   width: 81px;
}

/*
[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}
[data-role="header"] a,
[data-role="footer"] a {
   display: block;
}*/
[data-role="header"] a {
   /*padding: 0 1em;*/
   height: 100%;
   display: block;
   top: 0;
   bottom: 0;
   line-height: 3.5em;
}

[data-role="header"] a.back-icon-link{
   line-height: inherit;
}
/*.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}*/

.floating-header {
    position: absolute;
    background-color: rgb(2 32 60 / 59%);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
}




/* FORM ELEMENTS */
.form {}
.form-control {
   margin: 1em 0;
}

.form-input {
   width: 100%;
   display: inline-block;
   border: 1px solid var(--color-neutral-medium);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 0.3em;
   outline: 0;
   font: inherit;
   -webkit-appearance: none;
}

.form .form-button,
.form-button {
   width: 100%;
   display: inline-block;
   border-width: 0;
   background-color: var(--color-main-dark);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 2em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   -webkit-appearance:none;
   color: var(--color-pure-white);
}

.form-label {}
.form-input-lined {
   display:inline-block;
   width:100%;
   padding:0.5em 1em;
   font:inherit;
   font-size: 1em;
   outline:0;
   background-color:transparent;
   border-radius:0;
   border-width:0;
   border-bottom:1px solid var(--color-neutral-medium);
   -webkit-appearance:none;
   color: var(--color-black);
}

.label-visible{
   padding: 4px; 
   font-weight: 600;
   font-size: 1em;
   color:var(--color-main-medium);
   line-height: 1; 
}

.form-input-lined.inverted{
   border-bottom:1px solid var(--color-white);
}

.form-input-lined.inverted::placeholder{
   color: var(--color-white);
}

.form-input-lined:focus {
   border-bottom:2px solid var(--color-main-medium);
}

.form-input-lined.inverted:focus{
   border-bottom:4px solid var(--color-pure-white);
}

.ui-input-text input, .ui-input-search input .search-bar{
   box-sizing: border-box;
   border-radius: 2em;
   background-color: var(--color-pure-white);
   background-image: url(../images/icons/search.svg);
   background-position: 10px center;
   background-repeat: no-repeat;
   background-size: 1.5em 1.5em;
   padding: 0em 0em 0em 2.5em;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   height: 2.5em;
   font-size: 1em;
   min-height: 0em;
   color: var(--color-black);
}
.search-bar-form{
   background-image: url(../images/icons/search.svg);
   background-position: 10px center;
   background-repeat: no-repeat;
   background-size: 1.5em 1.5em;
   border-radius: 2em;
   background-color: var(--color-pure-white);
   padding: 0em 0em 0em 2.5em;
   height: 2.5em;
   font-size: 1em;
   min-height: 0em;
   color: var(--color-black);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   margin-left: 1em;
}

.search-bar-form input{
   border-width: 0;
   background-color: transparent;
   border-radius: 0;
   -webkit-appearance: none;
   font: inherit;
   color: inherit;
   outline: 0;
   flex: 1 1 auto;
   width: 95%;
   height: 100%;
}
/*.hotdog input{
   border-width: 0;
   background-color: transparent;
   border-radius: 0;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-neutral-medium);
}

.search-bar::placeholder{
   color: var(--color-neutral-medium);
}

input.search-bar:focus{
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.uplad-img-input-icon{
   background: url(../images/icons/camera.svg) no-repeat scroll ;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 1.2em 1.2em;
   /*padding-left:30px;*/

}
.image-picker.replace input {
   display: none;
}


.ui-input-text, .ui-input-search{
   margin: 0em 0em 0 1em;
   border-width: 0px;
   border-style: none
}

.search-container{
   margin: 0em 0 0em 0;
   z-index: 10;
}

.ui-select .ui-btn select, .form-select-lined{
   width: 100%;
   text-align: left;
   opacity: 1;
   padding-left: 1em;
   font-size: 1em;
   display:inline-block;
   font:inherit;
   outline:0;
   background-color:white;
   border-radius:0;
   border-width:0;
   border-bottom:1px solid var(--color-neutral-medium);
   -webkit-appearance:none;
   background-image: url(../images/icons/dropdown.svg);
   background-position: right 10px center;
   background-repeat: no-repeat;
   background-size: 1.5em 1.5em;
}

.form-select-lined:focus, .ui-select .ui-btn select:focus{
   border-bottom:2px solid var(--color-main-medium);
}
select:valid { color:var(--color-black); }




/*SOURSE https://codepen.io/SitePoint/pen/zGyLt*/


.label-helper {
   position: relative;
   opacity: 0;
   transition: .2s bottom, .2s opacity;
   bottom: 10;
   left: 0;
   z-index: 1; 
   padding: 4px; 
   font-weight: 600;
   font-size: 1em;
   color:var(--color-main-medium);
   line-height: 1;
}

.form-input-lined:focus + .label-helper{
   bottom: 65px;
   opacity: 1;
}

.form-input-lined.inverted:focus + .label-helper{
   bottom: 65px;
   opacity: 1;
   color:var(--color-black);
}


/*ICONS*/
.icon{
   fill: var(--color-black);
}

.icon.active{
   fill: var(--color-main-dark);
}
.icon-xxs{
   height:0.8em;
   width:0.8em;
}
.icon-xs{
   height:1em;
   width:1em;
}
.icon-ssm{
   height:1.3em;
   width:1.3em;
}

.icon-sm{
   height:1.5em;
   width:1.5em;
}

.icon-md{
   height:2em;
   width:2em;
}

.icon-lg{
   height:3em;
   width:3em;
}

.icon-xl{
   height:4em;
   width:4em;
}

.back-icon-link{
   padding-left: 1em;
}
[data-role="header"] a.icon-link{
   padding: inherit;
}








/*BUTTONS*/

.form-control .primary-btn, input[type="submit"],
.primary-btn{
   width: 100%;
   height: 2.5em;
   display: inline-block;
   border-width: 0;
   background-color: var(--color-main-dark);
   color: var(--color-pure-white);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 1.5em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
   line-height: normal;
}
.primary-btn.disable{
   background-color: var(--color-neutral-light);
   /*color: var(--color-pure-white);*/
}

input[type="submit"].primary-btn-inverted,
.primary-btn-inverted{
   width: 100%;
   height: 2.5em;
   display: inline-block;
   border-width: 0;
   background-color: var(--color-pure-white);
   color: var(--color-main-dark);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 1.5em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
   line-height: normal;
}

.outlined-btn{
   width: 100%;
   height: 2.5em;
   display: inline-block;
   /*border-width: 2;*/
   border: 1px solid var(--color-main-dark);
   background-color: var(--color-pure-white);
   color: var(--color-main-dark);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 1.5em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
   line-height: normal;
}

.primary-btn-inverted-outlined{
    width: 100%;
   height: 2.5em;
   display: inline-block;
   /*border-width: 2;*/
   border: 1px solid var(--color-pure-white);
   background-color: transparent;
   color: var(--color-pure-white);
   margin: 0;
   padding: 0.5em 1em;
   border-radius: 1.5em;
   outline: 0;
   font: inherit;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
   line-height: normal;
}

.btn-circle{
   display: inline-block;
   background-color: var(--color-white);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   font-size: 1.5rem;
   border-radius: 2em;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.5);   
}

.next-btn{
   width: 30%;
}

.full-btn{
   width: 100%;
}

.chip{
   height: 1.5em;
   background-color: var(--color-pure-white);
   text-align: center;
   padding: 1em;
   color: var(--color-secondary-dark);
   margin-block-start: 0em;
   margin-block-end: 0em;
   line-height: 0;
   border-radius: 1em;
   font-size: 0.9em;
   font-weight: 400;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.chip.active{
   color: var(--color-pure-white);
   background-color: var(--color-main-medium);
}








/*FLOATER*/
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:5em; }







/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}

.modal.active {
   pointer-events: initial;
   opacity: 1;
}

.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
   z-index: 12;
}
.modal-back.transparent {
   background-color: transparent;
}





/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 1em;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 13;
}

.modal-body {
    padding: 10px;
    background-color: var(--color-pure-white);
    z-index: 13;

}

.modal-head,
.modal-foot {
   background-color: var(--color-pure-white);
   line-height: 2rem;
   padding: 0 0.2em;
   z-index: 13;
}

.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}

.modal-body-text{
   font-weight: 500;
   font-size: 1.2em;
}
.flower-upload-img-modal-popup {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    /*border-radius: 1em;*/
    width: 100%;
    height:100%;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 13;
}
.user-upload-img-modal-popup {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 1em;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 13;
}




/* Modal Drawer */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   z-index: 13;
   overflow: hidden;
}

.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}

.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%);
   border-radius: 0 0 0 3em;
}

.modal-drawer.top,
.modal-drawer.bottom {
   height: 45vh;
   width: 100%;
   z-index: 13;
}

.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }
.modal-drawer.bottom.top-rounded{ border-radius: 1.5em 1.5em 0 0 }
.modal.active .modal-drawer { transform: translate(0);}
.modal-drawer .modal-body {
   flex: 1 1 100%;
}










/*UPWRAP NAV*/

.upward-nav{
   height: 3rem;
}
.zindex5{
   z-index: 5;
}
.zindex10{
   z-index: 10;
}





/*LOGIN*/
.login-container{
   background-color: var(--color-pure-white);
   border-radius: 0em 4em 0em 0em;
   box-shadow: 0px 5px 18px 0px rgb(180 172 172 / 70%);
}
.signup-container{
   background-color: var(--color-main-dark);
   border-radius: 0em 4em 0em 0em;
   box-shadow: 0px 5px 18px 0px rgb(180 172 172 / 70%);
}

.slogan{
   margin-block-start: 0em;
   margin-block-end: 0em;
   text-decoration: ;
   font-weight: 300;
   color: var(--color-neutral-medium);
}

.slogan2{
   margin-block-start: 0em;
   margin-block-end: 0em;
   text-decoration: ;
   font-weight: 300;
   color: var(--color-pure-white);
}

#page-signin{
   background-color: var(--color-white);
}

.intro-logo{
   width: 6em;
   margin: auto;
}

.login-title{
   width: 100%;
   text-align: center;
   color: var(--color-main-medium);
   margin-block-start: 1em;
   margin-block-end: 0em;
}

.signup-title{
   width: 100%;
   text-align: center;
   color: var(--color-pure-white);
   margin-block-start: 1em;
   margin-block-end: 0em;
}

.login-link{
   color: var(--color-neutral-medium);
}

.signup-link{
   color: var(--color-pure-white);
}

.dark-bg{
   background-color: var(--color-main-dark);
}


/*SIGNUP*/
.signup-user-btn{
   background-color: var(--color-pure-white);
   color: var(--color-neutral-dark);
   border-radius: 2em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   font-weight: 400;
   font-size: 1.5em;
   line-height: 1.5em;
   border: 2px solid var(--color-neutral-medium);
   position: relative;
   transform: translate(220%,-190%);
}
.signup-user-img-container{
   width: 100px;
   height: 100px;
   border-radius: 1em;
   overflow: hidden;
   background-color: var(--color-white);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url(../images/tulip-profile-placeholder-light.png);
}



/* MAP PAGE */
.profile-icon{
   border-radius: 50%;
   background-color: var(--color-pure-white);
   object-fit: contain;
   width: 2.5em;
   height: 2.5em;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   margin: 1em 1em 1em 1em;
   position: relative;
   right: 0em;
}

.map{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /*z-index: -2;*/
}

.add-btn{
   width: 50px;
   height: 50px;
   background-color: var(--color-main-dark);
   border-radius: 50%;
   object-fit: contain;
   margin: 1em;
   position: absolute;
   bottom: 1.5rem;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   /*box-shadow: 0px 0px 4px 4px rgb(225 225 225 / 58%);*/
   box-shadow:0px 1px 4px 0px rgb(0 0 0 / 33%);

}

#iconadd{
   fill: var(--color-pure-white);
}

.chip-container{
   padding: 0 1em;
   /*overflow: hidden;*/
   height: 3em;
}

.chip:not(:first-child){
   margin-left: 0.5em;
}

hr.chip-separator{
   margin-block-start: 0.5em;
   margin-block-end: 0.5em;
   margin-left: 0.5em;
   margin-right: 0em;
}

.all-chip{
   font-weight: 500;
}

.map-item-img-box{
   width: 100px;
   height: 100px;
   border: 3px solid var(--color-secondary-dark);
   border-radius: 1em;
   background-color: var(--color-neutral-light);
   overflow: hidden;
}

.map-item-img-box:active{
   border: 3px solid var(--color-main-dark);
}

.map-item-img{
   object-position: center;
   object-fit: cover;
   height: 100%;
}

.map-area{
   width: 100%;
   height: 100%;
}

.location-dot{
   /*content: " ";*/
   border-radius: 50%;
   background-color: var(--color-secondary-dark);
   width: 1em;
   height: 1em;
   margin: 0.5em;
   position: relative;
}

.location-dot:active{
   background-color:  var(--color-main-dark);
}

.map-modal-item-img-container{
   background-color: var(--color-neutral-light);
   border-radius: 1em 1em ;
   width: 200px;
   height: 200px;
   overflow: hidden;
}
.map-modal-item-img{
   object-position: center;
   object-fit: cover;
   height: 100%;
   width: 100%;
}

.drag-bar{
   width: 150px;
   height: 5px;
   border-radius: 1em;
   background-color: var(--color-pure-white);
}
.user-profile-image{
   object-fit: cover;
   background-repeat: no-repeat;
   min-width: 100%;
   min-height: 100%;
}






/*LIST PAGE*/
#page-list{
   background-color: var(--color-neutral-light);
}

.list-filter-container{
   padding: 0em 1em;
   height: 6em;
}

.card{
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   background-color: var(--color-pure-white);
   padding: 0.8em;
   border-radius: 1em;
   margin: 0.3em;
   overflow: hidden;
   max-width: fit-content;

}

.card.dark{
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   background-color: var(--color-neutral-light);
   padding: 0.8em;
   border-radius: 1em;
   margin: 0.3em;
}

.card.list-filter-item{
   min-width: fit-content;
}
.card.all{
   min-width: 50px;

}
.card:not(:first-child){
   margin-left: 0.5em;
}

.card p {
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.list-filter-title{
   line-height: 1em;
   color: var(--color-black);
}

.list-filter-counts{
   font-weight: 300;
   font-size: 0.8em;
   line-height: 1em;
   color: var(--color-neutral-medium);
}

.list-filter-item.active{
   background-color: var(--color-main-medium);
}

.list-filter-item.active p{
   color: var(--color-pure-white);
}

hr.list-filter-separator{
   margin-block-start: 0.5em;
   margin-block-end: 0.5em;
   margin-left: 0.5em;
   margin-right: 0em;
}

.list-item-container{
   width: 100%;
   padding: 1em 1em;
   background-color: var(--color-medium-light);
   border-radius: 0 0 0 0em;
}

.flower-list-image-container{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: var(--color-white);
   overflow: hidden;
}

.flower-list-image{
   width: 100%;
   height: 100%;
}

.flower-list-item-info{
   margin-left: 1em;
}

.flower-list-item-name{
   font-weight: 500;
   font-size: 0.9em;
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.flower-list-item-category{
   font-weight: 300;
   font-size: 0.9em;
   color: var(--color-neutral-dark);
   margin-block-start: 0em;
   margin-block-end: 0em;
}
.callout{
   position: relative;
   margin: 0 1em;
   padding: 10px 20px;
   background-color: var(--color-main-medium);
   border-radius: 1em;

}
.callout-text{
   color: var(--color-pure-white);

}
.callout .notch{
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    margin: 0;
    border-top: 10px solid var(--color-main-medium);
    border-right:10px solid transparent; 
    border-left: 10px solid transparent;
    border-bottom: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.callout.flowerlist{
   position: absolute;
   bottom: 10%;
   width: calc(100% - 2em);
}







/*ADD LOCATION PAGE*/
.bottom-container{
   background-color: var(--color-pure-white);
   border-radius: 1em 1em 0em 0em ;
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   padding: 1em;
   border-style: hidden;
   position: relative;
}

.progress-bar-container{
   width: 100%;
   height: 5px;
   background-color: var(--color-neutral-light);
}

.set-location-progress-bar-container{
   width: 100%;
   height: 5px;
   background-color: var(--color-neutral-light);
   position: absolute;
   bottom: 0px;
}

.form.login-container.add-location-footer{
   position: fixed;
   bottom: 0;
   width: 100%;
}

.progress-bar{
   background-color: var(--color-main-dark);   
   height: 5px;
}

.percent30{
   width: 30%;
}
.percent50{
   width: 50%;
}
.percent60{
   width: 60%;
}

.percent100{
   width: 100%;
}








/*SET LOCATION*/
#set-location{
   background-color: var(--color-white);
}
.location-selector{
   height: 100%;
   width: 100%;
}
.set-location-top-nav{
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}

/* ADD INFO */
.illustration-contaier{
 height: 100%;
}

.info-illustration{
   width: 70%;
   height: auto;
   margin: auto;
   filter: opacity(70%);
}

.info-illustration.set-info{
      width: 30%;
}
.category-illustration{
   width: 60%;
   height: auto;
   margin: auto;
}









/* NEW CATEGORY */
.new-category-img-container{
   width: 100px;
   height: 100px;
   border-radius: 1em;
   overflow: hidden;
   background-color: var(--color-white);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   /*background-image: url(../images/tulip-profile-placeholder-light.png);*/
}

.chage-category-img-container{
   background-color: var(--color-pure-white);
   color: var(--color-neutral-dark);
   border-radius: 2em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   font-weight: 400;
   font-size: 1.5em;
   line-height: 1.5em;
   border: 2px solid var(--color-neutral-medium);
   position: relative;
   transform: translate(230%,-80%);
}
.category-options-box{
   overflow: hidden;
   transition: all 0.3s;
   position: relative;
}
#existing-category, #new-category{
   min-width: 100%;
   transition: all 0.3s;
   /*position: absolute;*/
}











/*FLOWER PROFILE*/
.flower-image-container{
   width: 100%;
   height:50%;
   border-radius: 0 0 0em 0em;
   background-color: var(--color-neutral-light);
   overflow: hidden; 
   max-height: 500px;
}

.flower-image{
   width: 100%;
   height: 100%;
}

.corners{
   margin-top: -8.5em;
}

.inverted-corner{
   height: 3em;
   width: 3em;
   margin-bottom: 0px;
}

.corner-box-top{
   height: 3em;
   background-color: var(--color-pure-white);
   border-radius: 0 3em 0  0em;
  
   position: relative;
   width: 100%;
}

.edit-flower-img{
   background-color: var(--color-pure-white);
   color: var(--color-neutral-dark);
   border-radius: 2em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   font-weight: 400;
   font-size: 1.5em;
   line-height: 1.7em;
   position: relative;
   transform-origin: top right;
   transform: translate(-0.5em,-280%);
}

.flower-profile-name{
   font-weight: 500;
   font-size: 1.5em;
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.flower-profile-location-title{
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.locations-box{
 
   position: relative;
}

.flower-location-title-box{
   margin-block-start: 0.5em;
   margin-block-end: 0em;
}
.flower-info-box{
   min-width: 33%;
}
.flower-info{
   margin-block-start: 0em;
   margin-block-end: 0em;
}
.flower-info-text{
   text-align: center;
   color: var(--color-main-medium);
   font-size: 1.1em;
   font-weight: 500;
}

.flower-info-title{
   text-align: center;
   color: var(--color-neutral-medium);
   font-size: 1em;
   font-weight: 300;
}

.vertical-separation{
   min-height: 50px;
   width: 1px;
   background-color: var(--color-neutral-medium);
}

.delete-confirm-control {
   margin: 1em 0.5em;
}

.map.profile-map-conainer{
   /*flex: 1 1 auto;*/
   position: relative;
   height: 400px;
   width: 100%;
}

.add-location-btn{
   position: absolute;
   background-color: var(--color-pure-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   border-radius: 50%;
   text-align: center;
   min-height: 1em;
   min-width: 1em;
   max-height: 1em;
   max-width: 1em;
   z-index: 10;
   line-height: 100%;
   font-size: 2em;
   top: 0.5em;
   right: 0.5em;
   color: var(--color-neutral-medium);
}
.flower-image-modal-container{
   width: 100%;
   height:50%;
   border-radius: 0 0 0em 0em;
   overflow: hidden; 
   max-height: 500px;
}
#flower-image-to-replace{
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../images/tulip-image-placeholder.png);

}
.location-add-img-btn{
   background-color: var(--color-pure-white);
   color: var(--color-neutral-dark);
   border-radius: 2em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   font-weight: 400;
   font-size: 1.5em;
   line-height: 1.5em;
   border: 2px solid var(--color-neutral-medium);
   position: relative;
   transform: translate(115%,-180%);
}
/*.location-add-img-container{
   width: 100px;
   height: 100px;
   border-radius: 1em;
   overflow: hidden;
   background-color: var(--color-white);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url(../images/tulip-profile-placeholder-light.png);
}*/
/*.location-content-box{
   pointer-events: none;
}*/

.location-image{
   border-radius: 2em;
   background-color: var(--color-neutral-light);
   object-fit: contain;
   width: 150px;
   height: 150px;location-image-to-replace
   overflow: hidden;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}




/*PROFILE PAGE*/
.ui-header .ui-title, h1.profile-page-title{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
   pointer-events: none;
}

.profile-more-icon-conainer{
   height: 100%;
   min-width: 2em;
   position: absolute;
   right: 1em;
}

.profile-image{
   border-radius: 50%;
   background-color: var(--color-neutral-light);
   object-fit: contain;
   width: 150px;
   height: 150px;
   overflow: hidden;
}

.user-change-img-container{
   background-color: var(--color-pure-white);
   color: var(--color-neutral-dark);
   border-radius: 2em;
   width: 1.5em;
   height: 1.5em;
   text-align: center;
   font-weight: 400;
   font-size: 1.5em;
   line-height: 1.5em;
   border: 2px solid var(--color-neutral-medium);
   position: relative;
   transform: translate(150%,-35%);
}

.profile-back-icon{
   line-height: 0px;
}

.profile-content-container{
   padding-top: 10px;
}

.user-numbers-container{
   margin: 1em;
}

.number-card{
   border-radius: 1em;
   /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
   padding: 0.5em;
   width: 33.33%;
   margin: 0.5em;
}

.data-number{
   text-align: center;
   font-weight: 600;
   font-size: 1.5em;
   margin-block-start: 0em;
   margin-block-end: 0em;
   color: var(--color-main-medium);
}

.data-title{
   font-weight: 300;
   font-size: 1em;
   margin-block-start: 0em;
   margin-block-end: 0em;
   color: var(--color-neutral-dark);
}

#profile-modal{
   height: 3em;
   background-color: var(--color-main-dark);
}

.modal-icon-box{
   height: 100%;
}

.drawer-item-text-title{
   padding-left:0.5em;
   color: var(--color-black);
   font-weight: 500;
   margin-block-start: 0em;
   margin-block-end: 0em;
}

.drawer-item-text-info{
   padding-left:0.5em;
   color: var(--color-neutral-medium);
   font-weight: 300;
      margin-block-start: 0em;
   margin-block-end: 0em;
}

#user-image-to-replace, #new-user-image-to-replace{
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}



/* MAP-PAGE MAP MARKERS */
section#page-map [aria-roledescription="map"] div div div div img {
   border-radius: 0px;
}

section#page-map [aria-roledescription="map"] div div div img {
   border-radius: 1em;
}



.flower-popup-image,
.flower-popup-body {
   pointer-events: none;
}
.flower-popup-name{
   font-weight: 600;
   font-size: 1.5em;
   color: var(--color-black);
   /*text-align: center;*/
}
.flower-popup-image img {
   max-width: 70px;
   min-width: 70px;
   max-height: 70px;
   border-radius: 1em;
   object-fit: cover;
   /*background-repeat: no-repeat;*/
}




/*replace images icon*/

.image-picker.replace {
   position: absolute;
   top: 0;
   left: 0;
   width: 1.5em;
   height: 1.5em;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}


/*shaking animation*/ 
/*https://codepen.io/onion2k/pen/xfepi*/
.shaker {
         -webkit-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
   0% { -webkit-transform: translate(30px); }
   20% { -webkit-transform: translate(-30px); }
   40% { -webkit-transform: translate(15px); }
   60% { -webkit-transform: translate(-15px); }
   80% { -webkit-transform: translate(8px); }
   100% { -webkit-transform: translate(0px); }
}

